<!DOCTYPE HTML>
<html>

<head>
  <link rel="stylesheet" href="https://use.typekit.net/fte6dua.css">
  <link rel="stylesheet" href="https://refeed.github.io/zulip-archive-design-proto/pygments.css">
  <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
  <div class="header">
    <div class="header-main">
      <div class="header-left"> 
        <a class="homepage-logo-link" href="https://refeed.github.io/zulip-archive-design-proto">
          <img class="zulip-logo" src="/assets/zulip_logo.svg">
          <span class="zulip-archive-brand">archive</span>
        </a>
        <span class="archive-title">Lorem Ipsum community</span>
      </div>
      <div class="header-right">
        <span>Archived on August 17th 2022 at 11.00 AM UTC</span>
      </div>
    </div>
  </div>

  <div class="content-wrapper">
    {% block content %}{% endblock %}
  </div>

</body>

</html>
