<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/fte6dua.css"/>
    <link rel="stylesheet" href="{{ base_url }}/assets/pygments.css"/>
    <link rel="stylesheet" href="{{ base_url }}/assets/style.css"/>
    <link rel="stylesheet" href="{{ base_url }}/assets/rendered_markdown.css"/>
  </head>
  <body>
    <div class="header">
      <div class="header-main">
        <div class="header-left">
          <a class="homepage-logo-link" href="{{ base_url }}">
            <img class="zulip-logo"
                 alt="Zulip logo"
                 src="{{ base_url }}/assets/zulip_logo.svg"/>
            <span class="zulip-archive-brand">archive</span>
          </a>
          <span class="archive-title">{{ title }}</span>
        </div>
        <div class="header-right">
          <span>{{ last_updated_str }}</span>
        </div>
      </div>
    </div>
    <div class="content-wrapper">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
