{% extends "base.html.jinja2" %}
{% block content %}
  <div class="content-header-light">STREAMS</div>
  <table border="1">
    <tr>
      <th>Stream name</th>
      <th># of topic</th>
      <th># of messages</th>
      <th>Latest message date</th>
    </tr>
    {% for stream in stream_list  %}
      <tr>
        <td>
          <a href="{{ stream.url }}">{{ stream.stream_name }}</a>
        </td>
        <td>{{ stream.num_topics }}</td>
        <td>{{ stream.num_messages }}</td>
        <td>{{ stream.last_date }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
