{% extends "base.html.jinja2" %}

{% block content %}
<div class="content-header-light">STREAMS</div>

<table border="1">
  <tr>
    <th>Stream name</th>
    <th># of topic</th>
    <th># of messages</th>
    <th>Latest message date</th>
  </tr>
  <tr>
    <td><a href="https://refeed.github.io/zulip-archive-design-proto/stream.html">Lorem ipsum</a></td>
    <td>21</td>
    <td>122</td>
    <td>August 17th 2022 at 10.20 AM</td>
  </tr>
</table>
{% endblock %}
