{% extends "base.html.jinja2" %}

{% block content %}
<div class="content-header-light">STREAMS</div>

<table border="1">
  <tr>
    <th>Stream name</th>
    <th># of topic</th>
    <th># of messages</th>
    <th>Latest message date</th>
  </tr>
  <tr>
    <td><a href="{{ base_url }}/stream.html">lorem ipsum</a></td>
    <td>1</td>
    <td>2</td>
    <td>August 7th 2022 at 10.20 AM</td>
  </tr>
</table>
{% endblock %}
