{% extends "base.html.jinja2" %}
{% block content %}
  <div class="page-info">
    <div class="content-header-small-xlight">STREAM</div>
    <div class="content-header-medium-light">
      <a href="{{ stream_url }}">{{ stream_name }}</a>
    </div>
    <div class="content-header-small-xlight">TOPIC</div>
    <div class="topic-title">
      {{ topic_name }} <span class="topic-title-number-messages">({{ num_messages }} messages)</span>
    </div>
  </div>
  <hr/>
  {% for chat in chat_list %}
    <div class="chat-item">
      <div class="chat-header">
        <b>{{ chat.user_name }}</b> <span class="chat-header-unfocused">(<a class="chat-permalink" href="#{{ msg_id }}">{{ chat.date }}</a>): (<a class="view-in-zulip-link" href="{{ chat.zulip_link }}">View in Zulip ↗</a>)</span>
      </div>
      <div class="rendered_markdown">{{ chat.msg_content_html | safe }}</div>
    </div>
  {% endfor %}
{% endblock %}
