{% extends "base.html.jinja2" %}
{% block content %}
  <div class="page-info">
    <div class="content-header-small-xlight">STREAM</div>
    <div class="content-header-light">
      <a href="{{ stream_url }}">{{ stream_name }}</a>
    </div>
    <div class="content-header-small-xlight">DESCRIPTION</div>
    <div class="rendered_markdown">
      {{ rendered_description | safe }}
    </div>
  </div>
  <table border="1">
    <tr>
      <th>Topic name</th>
      <th># of messages</th>
      <th>Latest message date</th>
    </tr>
    {% for topic in topic_list  %}
      <tr>
        <td>
          <a href="{{ base_url }}/topic.html">{{ topic.topic_name }}</a>
        </td>
        <td>{{ topic.num_messages }}</td>
        <td>{{ topic.last_date }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
