{% extends "base.html.jinja2" %}

{% block content %}
<div class="page-info">
  <div class="content-header-small-xlight">STREAM</div>
  <div class="content-header-light"><a href="https://refeed.github.io/zulip-archive-design-proto/stream.html">lorem ipsum</a></div>
</div>

<table border="1">
  <tr>
    <th>Topic name</th>
    <th># of messages</th>
    <th>Latest message date</th>
  </tr>
  <tr>
    <td><a href="https://refeed.github.io/zulip-archive-design-proto/topic.html">Le fishe swimming in a bathtub</a></td>
    <td>2</td>
    <td>August 17th 2022 at 10.20 AM</td>
  </tr>
</table>
{% endblock %}
